.doner {
  margin-bottom: 20px;
}
h1 {
  display: inline;
  text-align: center;
}
#btnDonate {
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress {
  margin-top: 10px;
}

#thePanel
{
  margin-bottom: 50px;
}
